@font-face{
    font-family: 'source-sans-pro-regular';
    src: url('../fonts/SourceSansPro-regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face{
    font-family: 'source-sans-pro-semiBold';
    src: url('../fonts/SourceSansPro-SemiBold.ttf') format('truetype');
}
@font-face{
    font-family: 'collier-book';
    src: url('../fonts/Collier-Book.woff') format('woff');
    font-weight: normal;
}